rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() {
      return request.auth != null;
    }

    match /deposits/{userId}/{allPaths=**} {
      allow read: if isAuth();
      allow write: if isAuth() && request.auth.uid == userId;
    }

    match /kyc/{userId}/{allPaths=**} {
      allow read: if isAuth() && request.auth.uid == userId;
      allow write: if isAuth() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
